.sort__button {
    border: none;
    display: flex;
    width: 291px;
    height: 79px;
    background-color: var(--cream-color);
    font-weight: 400;
    font-family: var(--font-raleway);
    font-size: 25px;
    color: #000000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 575px) { 
    .sort__button {
        width: 148px;
        height: 36px;
        font-size: 15px;
        margin-top: 17px;
    }
}